{
  "openapi": "3.0.3",
  "info": {
    "title": "Taxi Order Service API",
    "description": "API для управления сервисом заказа такси",
    "version": "0.1.0",
    "contact": {
      "email": "support@taxi-service.com"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.taxi-service.com/v1",
      "description": "Production server"
    },
    {
      "url": "https://sandbox.taxi-service.com/v1",
      "description": "Sandbox server"
    }
  ],
  "tags": [
    {
      "name": "Orders",
      "description": "Управление заказами такси"
    },
    {
      "name": "Drivers",
      "description": "Управление водителями"
    }
  ],
  "paths": {
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Получить список заказов",
        "operationId": "getOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderListLimit"
          },
          {
            "$ref": "#/components/parameters/OrderListOffset"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetails"
                }
              }
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Создать новый заказ такси",
        "operationId": "createOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              },
              "example": {
                "pickup_address": "ул. Ленина, 10",
                "destination_address": "пр. Мира, 25",
                "customer_id": "cust_12345",
                "preferred_car_type": "economy"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Заказ успешно создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Неверные параметры запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{order_id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Получить информацию о заказе",
        "operationId": "getOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetails"
                }
              }
            }
          },
          "404": {
            "description": "Заказ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Orders"
        ],
        "summary": "Полное обновление заказа",
        "operationId": "replaceOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Заказ обновлен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetails"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      },
      "delete": {
        "tags": [
          "Orders"
        ],
        "summary": "Отменить заказ",
        "operationId": "cancelOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Заказ успешно отменен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelResponse"
                }
              }
            }
          },
          "403": {
            "description": "Отмена запрещена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/drivers/{driver_id}": {
      "patch": {
        "tags": [
          "Drivers"
        ],
        "summary": "Обновить данные водителя",
        "operationId": "updateDriver",
        "parameters": [
          {
            "$ref": "#/components/parameters/DriverIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DriverUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Данные обновлены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DriverUpdateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Требуется авторизация",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/drivers": {
      "get": {
        "tags": [
          "Drivers"
        ],
        "summary": "Поиск доступных водителей",
        "operationId": "findDrivers",
        "parameters": [
          {
            "$ref": "#/components/parameters/LatitudeParam"
          },
          {
            "$ref": "#/components/parameters/LongitudeParam"
          },
          {
            "$ref": "#/components/parameters/RadiusParam"
          },
          {
            "$ref": "#/components/parameters/CarTypeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableDriversResponse"
                }
              }
            }
          },
          "500": {
            "description": "Ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "OrderIdParam": {
        "name": "order_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "order_67890"
      },
      "DriverIdParam": {
        "name": "driver_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "drv_54321"
      },
      "LatitudeParam": {
        "name": "latitude",
        "in": "query",
        "required": true,
        "schema": {
          "type": "number",
          "format": "double"
        },
        "example": 55.751244
      },
      "LongitudeParam": {
        "name": "longitude",
        "in": "query",
        "required": true,
        "schema": {
          "type": "number",
          "format": "double"
        },
        "example": 37.618423
      },
      "RadiusParam": {
        "name": "radius",
        "in": "query",
        "schema": {
          "type": "number",
          "default": 5,
          "minimum": 1,
          "maximum": 50
        },
        "example": 3
      },
      "CarTypeParam": {
        "name": "car_type",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "economy",
            "comfort",
            "business",
            "minivan"
          ]
        },
        "example": "economy"
      },
      "OrderListLimit": {
        "name": "limit",
        "in": "query",
        "description": "page limit",
        "required": false,
        "schema": {
          "type": "integer",
          "default": 20
        }
      },
      "OrderListOffset": {
        "name": "offset",
        "in": "query",
        "description": "page offset",
        "required": false,
        "schema": {
          "type": "integer",
          "default": 0
        }
      }
    },
    "schemas": {
      "OrderRequest": {
        "type": "object",
        "required": [
          "pickup_address",
          "destination_address",
          "customer_id"
        ],
        "properties": {
          "pickup_address": {
            "type": "string",
            "minLength": 5
          },
          "destination_address": {
            "type": "string",
            "minLength": 5
          },
          "customer_id": {
            "type": "string",
            "pattern": "^cust_[a-zA-Z0-9]+$"
          },
          "preferred_car_type": {
            "type": "string",
            "enum": [
              "economy",
              "comfort",
              "business",
              "minivan"
            ],
            "default": "economy"
          }
        }
      },
      "OrderResponse": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "accepted",
              "cancelled",
              "completed"
            ]
          },
          "estimated_arrival": {
            "type": "string",
            "format": "date-time"
          },
          "estimated_price": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "OrderDetails": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "driver_id": {
            "type": "string"
          },
          "driver_name": {
            "type": "string"
          },
          "car_model": {
            "type": "string"
          },
          "car_number": {
            "type": "string"
          },
          "current_location": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "minItems": 2,
            "maxItems": 2
          },
          "estimated_arrival": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CancelResponse": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "refund_amount": {
            "type": "number"
          }
        }
      },
      "DriverUpdateRequest": {
        "type": "object",
        "properties": {
          "current_status": {
            "type": "string",
            "enum": [
              "online",
              "offline",
              "busy"
            ]
          },
          "car_mileage": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "DriverUpdateResponse": {
        "type": "object",
        "properties": {
          "driver_id": {
            "type": "string"
          },
          "updated_fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "update_time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AvailableDriversResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "drivers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DriverInfo"
            }
          }
        }
      },
      "DriverInfo": {
        "type": "object",
        "properties": {
          "driver_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "car_model": {
            "type": "string"
          },
          "car_type": {
            "type": "string"
          },
          "distance": {
            "type": "number"
          },
          "rating": {
            "type": "number",
            "maximum": 5
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error_code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Неверные параметры запроса",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}